.custom-navbar {
    background-color: #FFF7BB; /* Tu color personalizado */
}

.custom-container {
    display: flex;
}



.custom-button {
    padding: 10px;
    border-radius: 10px;
    color: #DA9B3C !important;

}

.custom-button:hover {

    background-color: rgba(218,155,60,29);
}

.custom-button-sesion {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #e08e0b;
}

.custom-button-sesion:hover {
    background-color: #c47f04;

}

